/**
 * This file should get overwritten if Method 1 is used. If Method 2 is chosen,
 * remove this comment and start adding your styles to this file.
 */
.form-item-title{
  width: 200px;
}

.form-item-field-ratings-und{
  padding-right: 20px;
  float: left;
}
.radio+.radio, .checkbox+.checkbox {
margin-top: 0;
}

.views-row{
  border: 1px solid;
  border-radius: 20px;
  padding: 10px;
  width: 250px;
  height: 140px;
  margin: 10px;
  float: left;
  text-align: center;
}
.views-field-title{
  font-style: italic;
}
.views-field-field-blend{
  font-weight: bold;
}
